@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none !important;
}

#loadingAnimation {
  width: 35px;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

#loadingAnimation > circle {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}